<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>init</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>

	<!-- 초기 파라미터 설정시 url-pattern 까지 함께 설정 해주어야 한다. -->
	<servlet>
		<servlet-name>mServlet</servlet-name>
		<jsp-file>/init_jsp.jsp</jsp-file>
		<!-- 초기 파라미터 -->
		<init-param>
			<param-name>adminId</param-name>
			<param-value>boot</param-value>
		</init-param>
		<init-param>
			<param-name>adminPw</param-name>
			<param-value>asd1234</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>mServlet</servlet-name>
		<url-pattern>/init_jsp.jsp</url-pattern>
	</servlet-mapping>

	<!-- 서블릿 전체에서 공유 할 수 있는 테이터를 선언 -->
	<context-param>
		<param-name>imgDir</param-name>
		<param-value>/init/upload/img</param-value>
	</context-param>

	<context-param>
		<param-name>testServer</param-name>
		<param-value>127.0.0.1</param-value>
	</context-param>

	<context-param>
		<param-name>realServer</param-name>
		<param-value>88.0.12.1</param-value>
	</context-param>

	<!-- 응답 코드별로 error 페이지를 지정 할 수 있다. -->
	<error-page>
		<error-code>404</error-code>
		<location>/init/errorpage.jsp</location>
	</error-page>
	
		<error-page>
		<error-code>500</error-code>
		<location>/init/errorpage.jsp</location>
	</error-page>
	
	<!-- 
	200 : 정상
	307 : 임시로 페이지가 리다이렉트 됨
	400 : 클라이언트의 요청이 잘못된 구문으로 구성됨
	401 : 접근이 허용되지 않음
	404 : 지정된 URL을 처리하기 위한 자원이 존재하지 않음 
	500 : 서버 내부 에러, jsp에서 Exception이 발생하는 경우
	503 : 서버가 일시적으로 서비스를 제공할 수 없음. 서버가 과부화 또는 임시 수정 중 일때
	
	
	
	 -->

</web-app>
